#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[ui]
default-command = "status"
editor = "helix"
diff-editor = "oyui"
diff-instructions = false

[merge-tools.oyui]
program = "oyui"
edit-args = ["diff", "$left", "$right"]

[user]
email = {{ .email | quote }}
name = {{ .name | quote }}
